@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LoveLight";
  src: url("../font/Love_Light/LoveLight-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@layer components {
  .love-light {
    font-family: "LoveLight";
  }
}
